# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=64000
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=10000
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
CONFIG_ESP_WIFI_ENABLE_WPA3_SAE=n
# CONFIG_LWIP_IPV6=n
CONFIG_ESP_ERR_TO_NAME_LOOKUP=n
COMPILER_OPTIMIZATION_SIZE=y
BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y
COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT=y
ESP_SYSTEM_PANIC_SILENT_REBOOT=y

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
#CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n
